<div class="g-col-12 card mb-3">
    <div class="card-header">
        <h3 class="card-title">FraudLabs Pro</h3>
    </div>
    <div class="card-body">
		<p class="text-muted mb-4">
            Protect your store from fraud with FraudLabs Pro. 
            If you don't have an API key yet, you can 
            <a href="https://www.fraudlabspro.com/sign-up" target="_blank" rel="noopener">
                sign up for a free account here
            </a>.
        </p>
		{# Add the toggle checkbox here #}
        <div class="mb-3">
            {{ form_row(hookable_metadata.context.form.fraudLabsProEnabled) }}
        </div>
        {# We pass the 'form-control' class directly to the widget to ensure it styles correctly #}
        {{ form_row(hookable_metadata.context.form.fraudLabsProApiKey, {
            'attr': {
                'class': 'form-control'
            }
        }) }}
    </div>
</div>